Repository Chartes-TNAH/apollinaire-project, pull requests merged in 2021-02, with the labels that each got.

#31 Incorporer les suggestions à l'échantillon encodé
  dossierdepresse/echantillon_ODD_articles/Questions encodage.txt
  dossierdepresse/echantillon_ODD_articles/articles_ODD.xml
  dossierdepresse/echantillon_ODD_articles/f.158.xml
  dossierdepresse/echantillon_ODD_articles/f.201.xml
  dossierdepresse/echantillon_ODD_articles/f.206.xml
  dossierdepresse/echantillon_ODD_articles/out/articles_ODD.rng
Labels: encodage

#30 Exemple d'encodage du feuillet 4r du mal aimé (manuscrit)
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_malaime_4r.xml
Labels: encodage, manuscrit

#48 Merge prototype ODD articles vers main
  dossierdepresse/echantillon_ODD_articles/Questions encodage.txt
  dossierdepresse/echantillon_ODD_articles/articles_ODD.xml
  dossierdepresse/echantillon_ODD_articles/f.158.xml
  dossierdepresse/echantillon_ODD_articles/f.201.xml
  dossierdepresse/echantillon_ODD_articles/f.206.xml
  dossierdepresse/echantillon_ODD_articles/out/articles_ODD.rng
Labels: dossierdepresse

#38 Essai Encodage poème Mal-aimé 14r
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/poeme_malaime_14r.xml
Labels: encodage, manuscrit

#52 Suppression dossier outils/get_corpus
  outils/get_corpus/README.md
  outils/get_corpus/get_corpus.py
  outils/get_corpus/requirements.txt
Labels: main

#54 Validation encodage lettre folios 185 à 203 pour mise en commun des lettres
  dossierdepresse/encodage_lettres/185-187_lettre.xml
  dossierdepresse/encodage_lettres/185-205_lettres.xml
  dossierdepresse/encodage_lettres/188_lettre.xml
  dossierdepresse/encodage_lettres/189_lettre.xml
  dossierdepresse/encodage_lettres/190-191_lettre.xml
  dossierdepresse/encodage_lettres/192-193_lettre.xml
  dossierdepresse/encodage_lettres/194-195_lettre.xml
  dossierdepresse/encodage_lettres/196-197_lettre.xml
  dossierdepresse/encodage_lettres/198-199_lettre.xml
  dossierdepresse/encodage_lettres/203-205_lettre.xml
  dossierdepresse/encodage_lettres/lettre_177-178.xml
  dossierdepresse/encodage_lettres/lettre_193-192.xml
  dossierdepresse/encodage_lettres/lettre_198.xml
Labels: dossierdepresse, encodage

#57 Renommage de 2 transcription "article" qui sont des "lettre" (dossier de presse)
  dossierdepresse/lettre_f198.txt
  dossierdepresse/lettre_f203.txt
Labels: main

#50 Corrections et normalisation des prototypes d'encodage
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_1909.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_malaime_4r.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/poeme_malaime_14r.xml
Labels: encodage, manuscrit, normalisation

#45 Exemple d'encodage des versions génétiques avec l'élément Group
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/ExempleElementGroup.VersionGenetique.xml
Labels: corpus, encodage

#49 Proposition tei header recueil versions préparatoires
  besoins_encodage.txt
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/ExempleTeiHeader.VersionGenetique.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_1909.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_malaime_4r.xml
Labels: encodage, manuscrit, teiheader

#59 Encodage lettres avec l'élément <group>
  dossierdepresse/encodage_lettres/167-171_lettres_group.xml
  dossierdepresse/encodage_lettres/167-205_lettres_group.xml
Labels: dossierdepresse, encodage

#63 Encodage des articles folios 146-156.
  dossierdepresse/encodage_articles/146_article.xml
  dossierdepresse/encodage_articles/147_article.xml
  dossierdepresse/encodage_articles/148-149_article.xml
  dossierdepresse/encodage_articles/150-151_article.xml
  dossierdepresse/encodage_articles/152-154_article.xml
  dossierdepresse/encodage_articles/155_article.xml
  dossierdepresse/encodage_articles/156_article.xml
Labels: dossierdepresse, encodage

#64 Encodages des articles folios 154-164 et 200, 201, 202 et 206.
  dossierdepresse/encodage_articles/157-161_163-164_article.xml
  dossierdepresse/encodage_articles/162_article.xml
  dossierdepresse/encodage_articles/200_article.xml
  dossierdepresse/encodage_articles/201_article.xml
  dossierdepresse/encodage_articles/202_article.xml
  dossierdepresse/encodage_articles/206_article.xml
  dossierdepresse/encodage_articles/articles_group.xml
Labels: dossierdepresse, encodage

#65 Encodage fichier commun des lettres
  dossierdepresse/encodage_lettres/167-171_lettres_group.xml
  dossierdepresse/encodage_lettres/167-184_lettres.xml
  dossierdepresse/encodage_lettres/167-205_lettres.xml
  dossierdepresse/encodage_lettres/167-205_lettres_group.xml
  dossierdepresse/encodage_lettres/185-205_lettres.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/167-169_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/170-171_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/172-174_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/175-176_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/177-179_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/180-181_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/182-184_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/185-187_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/188_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/189_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/190-191_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/192-193_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/194-195_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/196-197_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/198-199_lettre.xml
  dossierdepresse/encodage_lettres/lettres_individuelles/203-205_lettre.xml
  dossierdepresse/encodage_lettres/repartition_encodage_lettres.txt
  dossierdepresse/lettre-f166.txt
Labels: dossierdepresse, encodage

#62 Correction structuration
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_1909.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_malaime_4r.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/poeme_malaime_14r.xml
Labels: encodage, manuscrit

#67 Exemple encodage group pointeurs
  ExempleElementGroup_FrontAbrege_pointeurs.VersionGenetique.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/ExempleElementGroup_FrontAbrege_pointeurs.VersionGenetique.xml
  poèmesmanuscrits/ExempleElementGroup_FrontAbrege_pointeurs.VersionGenetique.xml
Labels: encodage, manuscrit

#69 Associations des différents prototypes d'encodage de Poèmes Manuscrits
  ExempleElementGroup_FrontAbrege_pointeurs.VersionGenetique.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/ExempleElementGroup_FrontAbrege_pointeurs.VersionGenetique.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_1909.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_malaime_4r.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/poeme_malaime_14r.xml
  poèmesmanuscrits/ExempleElementGroup_FrontAbrege_pointeurs.VersionGenetique.xml
Labels: manuscrit, normalisation

#72 Merge des articles encodés dans main
  dossierdepresse/encodage_articles/Articles_individuels/146_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/147_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/148-149_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/150-151_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/152-154_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/155_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/156_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/157-161_163-164_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/162_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/200_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/201_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/202_article.xml
  dossierdepresse/encodage_articles/Articles_individuels/206_article.xml
  dossierdepresse/encodage_articles/articles_group.xml
  dossierdepresse/encodage_articles/repartition_encodage_articles
Labels: dossierdepresse, encodage, main

#73 Ajout encodage quasi-définitif Mal Aimé
  poèmesmanuscrits/poeme_mal_aime.xml
Labels: ODD, encodage, manuscrit

#76 Encodage Mai et Marie-Sybille
  poeme_mai.xml
  poeme_marie_sybille.xml
Labels: encodage, manuscrit

#70 Proposition d'ODD pour l'encodage des poèmes manuscrits
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/ExempleElementGroup.VersionGenetique.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_1909.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/Poeme_malaime_4r.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/out/poeme_ODD.rng
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/poeme_ODD.xml
  poèmesmanuscrits/Echantillon_Encodage_PoemesManuscrits/poeme_malaime_14r.xml
Labels: ODD, manuscrit

#75 Encodage du poème manuscrit à la sante (partie 2)
  Recueil_poemes_encodes/Encodages_def_ALaSante_1909_LesCloches.xml
Labels: encodage, manuscrit

#78 Merge Encodage recueil poemes dans main
  Recueil_poemes_encodes/Encodage_complet_Recueil.xml
  Recueil_poemes_encodes/Encodages_def_ALaSante_1909_LesCloches.xml
  Recueil_poemes_encodes/poeme_mai.xml
  Recueil_poemes_encodes/poeme_mal_aime.xml
  Recueil_poemes_encodes/poeme_marie_sybille.xml
  poeme_mai.xml
  poeme_marie_sybille.xml
  poèmesmanuscrits/poeme_mal_aime.xml
Labels: encodage, manuscrit
