Repository Chartes-TNAH/apollinaire-project, pull requests merged in 2021-03, with the labels that each got.

#80 teiheader dossierdepresse
  dossierdepresse/dossierdepresse_alcools.xml
Labels: dossierdepresse, encodage, teiheader

#82 PR de la documentation du dossier de presse
  dossierdepresse/dossierdepresse_alcools_ODD.html
  dossierdepresse/dossierdepresse_alcools_ODD.xml
Labels: documentation, dossierdepresse

#81 Amélioration de l'encodage du recueil de poèmes manuscrits
  Recueil_poemes_encodes/Dossier_complet_xml_ODD_rng/Encodage_complet_Recueil.xml
  Recueil_poemes_encodes/Dossier_complet_xml_ODD_rng/out/poeme_ODD.rng
  Recueil_poemes_encodes/Dossier_complet_xml_ODD_rng/poeme_ODD.xml
Labels: ODD, manuscrit, normalisation

#83 Validation documentation ODD et fichier XML commun dossier de presse
  dossierdepresse/encodage_complet/dossierdepresse_alcools.xml
  dossierdepresse/encodage_complet/dossierdepresse_alcools_ODD.html
  dossierdepresse/encodage_complet/dossierdepresse_alcools_ODD.xml
  dossierdepresse/encodage_complet/out/dossierdepresse_alcools_ODD.rng
Labels: ODD, dossierdepresse, encodage

#86 Conversion des .txt documentation en .md
  documentation/Bonnes_pratiques_TEI_Encodage_Suppressions.txt
  documentation/besoins_encodage.md
  documentation/besoins_encodage.txt
  documentation/bonnes_pratiques_encodage_suppressions.md
  documentation/corpus_a_transcrire.md
  documentation/corpus_a_transcrire.txt
  documentation/proposition_projet_valide.md
  documentation/proposition_projet_valide.txt
  documentation/regles_transcription.md
  documentation/regles_transcription.txt
Labels: documentation, main

#85 Ajout documentation ODD et réorganisation du dossier poemesmanuscrits
  Recueil_poemes_encodes/Documentation_Recueil_poemes.txt
  Recueil_poemes_encodes/Dossier_complet_xml_ODD_rng/poeme_ODD.xml
  poemesmanuscrits/echantillon_ODD/Poeme_1909.xml
  poemesmanuscrits/echantillon_ODD/Poeme_malaime_4r.xml
  poemesmanuscrits/echantillon_ODD/out/poeme_ODD.rng
  poemesmanuscrits/echantillon_ODD/out/poeme_ODD.xsd
  poemesmanuscrits/echantillon_ODD/poeme_ODD.xml
  poemesmanuscrits/echantillon_ODD/poeme_malaime_14r.xml
  poemesmanuscrits/encodage_complet/Encodage_complet_Recueil.xml
  poemesmanuscrits/encodage_complet/out/poeme_ODD.rng
  poemesmanuscrits/encodage_complet/out/poeme_ODD.xsd
  poemesmanuscrits/encodage_complet/poeme_ODD.html
  poemesmanuscrits/encodage_complet/poeme_ODD.xml
  poemesmanuscrits/encodage_recueil/Encodages_def_ALaSante_1909_LesCloches.xml
  poemesmanuscrits/encodage_recueil/poeme_mai.xml
  poemesmanuscrits/encodage_recueil/poeme_mal_aime.xml
  poemesmanuscrits/encodage_recueil/poeme_marie_sybille.xml
  poemesmanuscrits/transcriptions/poemespublies/1909.txt
  poemesmanuscrits/transcriptions/poemespublies/a_la_sante.txt
  poemesmanuscrits/transcriptions/poemespublies/la_canson_du_mal_aime.txt
  poemesmanuscrits/transcriptions/poemespublies/le_pont_mirabeau.txt
  poemesmanuscrits/transcriptions/poemespublies/les_cloches.txt
  poemesmanuscrits/transcriptions/poemespublies/mai.txt
  poemesmanuscrits/transcriptions/poemespublies/marizibill.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/1909.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/a_la_sante/20r.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/a_la_sante/20v.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/a_la_sante/21r.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/a_la_sante/21v.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/a_la_sante/22r.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/a_la_sante/22v.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/a_la_sante/23r.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/a_la_sante/23v.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/le mal aime.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/les_cloches.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/mai.txt
  poemesmanuscrits/transcriptions/poèmesmanuscrits/marie-sybille.txt
  poèmesmanuscrits/poeme_mal_aime.xml
Labels: ODD, documentation, encodage, manuscrit, normalisation

#90 Organisation des dossiers du dossierdepresse
  dossierdepresse/echantillons_ODD/echantillon_ODD_articles/Questions encodage.txt
  dossierdepresse/echantillons_ODD/echantillon_ODD_articles/articles_ODD.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_articles/f.158.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_articles/f.201.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_articles/f.206.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_articles/out/articles_ODD.rng
  dossierdepresse/echantillons_ODD/echantillon_ODD_lettres/echantillon_lettres.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_lettres/echantillon_lettres_ODD.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_lettres/lettre_177-178.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_lettres/lettre_193-192.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_lettres/lettre_198.xml
  dossierdepresse/echantillons_ODD/echantillon_ODD_lettres/out/echantillon_lettres_ODD.rng
Labels: dossierdepresse, structure
